<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="10">
	<title>Banco de Hierro de Braavos</title>
	<style>
    	html { 
  			background: url(/static/background1.jpg) no-repeat center fixed; 
  			background-size: cover;
    	}
    	body {
    		color: white;

    	}
    	h1 { text-align: center}
	</style>
</head>
<body>
    <H2>Hola Jorge</H2>
	<h1>La hora es: {{ list[0] }}</h1>
	<h1>Mes: {{ list[1] }}</h1>
	<h1>Day: {{ list[2] }}</h1>
	<h1>Year: {{ list[3] }}</h1>
</body>
</html>
